[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "ml-agents"]
	path = ml-agents
	url = https://github.com/Pristar4/ml-agents.git
